.content {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    padding: 0;
}

.main-content {
    padding: 2rem;
}

@media screen and (max-width: 767px) {
    .content {
        padding: 0;
    }
    
    .main-content {
        padding: 1rem;
    }
}
