.home {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
}

.home__option-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vw;
    gap: 2vw;
    border: 2px solid var(--color-accent);
    border-radius: 10px;
    overflow: hidden;
    background-color: var(--color-panel);
    width: 300px;
}

.home__option-panel:hover {
    border: 2px solid var(--color-btn);
}

.option-panel__icon {
    max-height: 48%;
}

.option-panel__text {
    font-size: 1.5vw;
}

.option-panel__select-btn {
    display: flex;
    width: 80%;
    height: 10%;
    margin: 2vh 0;
    padding: 2.5vh 0;
    justify-content: center;
    align-items: center;
    background-color: var(--color-btn);
    border-radius: 10px;
    font-size: 1.5vw;
    color: var(--color-secondary);
}

.option-panel__select-btn:hover {
    opacity: 80%;
    cursor: pointer;
}
