
.menu-bar {
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 1rem;
}

.app-name {
    font-size: 1.8rem;
    /*font-weight: bold;*/
}

.menu-bar__dropdown {
    position: relative;
    display: inline-block;
    color: var(--color-primary);
}

.dropdown__button {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.7rem 0.6rem;
    gap: 0.7rem;
    background-color: var(--color-panel);
}

.dropdown__button:hover {
    background-color: var(--color-secondary);
    cursor: pointer;
}

.dropdown--round-border {
    border-radius: 10px;
}

.dropdown--border {
    border: 2px solid var(--color-accent);
}

.button__icon {
    width: 1.2rem;
}

.button__text {
    font-size: 0.9rem;
    font-weight: 400;
}

.button__arrow-down {
    margin-left: 0.5rem;
    width: 2rem;
}

.dropdown__content {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    margin-top: 0.5rem;
    background-color: var(--color-panel);
    overflow: hidden;
}

.dropdown__content--show {
    display: inherit;
}

.dropdown__menu-item {
    display: flex;
    flex-direction: row;
    gap: 0.3rem;
    align-items: center;
    padding: 0.8rem;
}

.dropdown__menu-item:hover {
    background-color: var(--color-secondary);
    cursor: pointer;
}

.menu-item__icon {
    width: 1rem;
}

.menu-item__text {
    font-size: 1rem;

}