<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Testio</title>
    {% include 'styles.html' %}
</head>
<body>
<div class="content">
<!--?    <form id="form">-->
<!--?        <textarea name="script_text"></textarea>-->
<!--?        <button type="submit">Submit</button>-->
<!--?    </form>-->

    {% include 'sidebar.html' %}
    {% include 'result-details.html' %}
<!--?    <div id="results">-->
<!--?        <p>Total tests: <span id="total-tests"></span></p>-->
<!--?        <p>Passed tests: <span id="passed-tests"></span><span id="total-tests"></span> (<span-->
<!--?                id="passed-tests-ratio"></span>%)</p>-->
<!--?        <div id="test-results" class="tests-table">-->
<!--?            -->
<!--?        </div>-->
<!--?    </div>-->

    {% include 'scripts.html' %}
</div>
</body>
</html>

