<div class="home">
    <div class="home__option-panel">
        <img class="option-panel__icon" src="{{ url_for('static', filename='img/homework.png') }}">
        <h4 class="option-panel__text">Homework Mode</h4>
        <div class="option-panel__select-btn">Start</div>

    </div>
    <div class="home__option-panel">
        <img class="option-panel__icon" src="{{ url_for('static', filename='img/exam.png') }}">
        <h4 class="option-panel__text">Examination Mode</h4>
        <div class="option-panel__select-btn">Start</div>
    </div>
</div>