<!-- HTML code for the home page -->
<div class="home">
    <div class="home__option-panel">
        <img class="option-panel__icon" src="/static/img/homework.png" alt="Homework Mode">
        <h4 class="option-panel__text">Homework Mode</h4>
        <p class="option-panel__description">
            Perfect for practice and self-paced learning. Students can submit and test their solutions multiple times.
        </p>
        <div class="option-panel__select-btn" id="homework-btn">Start Practice</div>
    </div>
    <div class="home__option-panel">
        <img class="option-panel__icon" src="/static/img/exam.png" alt="Examination Mode">
        <h4 class="option-panel__text">Examination Mode</h4>
        <p class="option-panel__description">
            Secure testing environment for assessments and exams. Monitor student progress in real-time.
        </p>
        <div class="option-panel__select-btn" id="exam-btn">Start Exam</div>
    </div>
</div>

<script src="/static/js/home.js"></script>
