<div class="menu-bar">
    <h3 class="app-name">Testio</h3> 
<div class="menu-bar__dropdown">
    <div class="dropdown__button dropdown--border dropdown--round-border ">
        <img class="button__icon" src="/static/img/default_user.svg">
        <p class="button__text">AnonUser</p>
        <img class="button__arrow-down" src="/static/img/arrow_drop_down.svg">
    </div>
    <div class="dropdown__content dropdown--border dropdown--round-border">
        <div class="dropdown__menu-item">
            <img class="menu-item__icon" src="/static/img/gear_icon.svg">
            <span class="menu-item__text">Settings</span>
        </div>
        <div class="dropdown__menu-item">
            <img class="menu-item__icon" src="/static/img/logout.svg">
            <span class="menu-item__text">Logout</span>
        </div>
        
    </div>
</div>
</div>