<div class="menu-bar">
    <a href="/" class="app-name-link" style="text-decoration: none;">
        <h3 class="app-name">Testio</h3>
    </a>
    <nav class="menu-bar__nav">
        <a href="/" class="nav-link">Home</a>
        <a href="/student" class="nav-link">Student</a>
        <a href="/homework" class="nav-link">Homework</a>
        <a href="/exam" class="nav-link">Exam</a>
        <a href="/docs" class="nav-link">API Docs</a>
    </nav>
    <div class="menu-bar__dropdown">
        <div class="dropdown__button dropdown--border dropdown--round-border">
            <img class="button__icon" src="/static/img/default_user.svg" alt="User">
            <p class="button__text">Guest</p>
            <img class="button__arrow-down" src="/static/img/arrow_drop_down.svg" alt="Menu">
        </div>
        <div class="dropdown__content dropdown--border dropdown--round-border">
            <div class="dropdown__menu-item">
                <img class="menu-item__icon" src="/static/img/gear_icon.svg" alt="Settings">
                <span class="menu-item__text">Settings</span>
            </div>
            <div class="dropdown__menu-item">
                <img class="menu-item__icon" src="/static/img/logout.svg" alt="Logout">
                <span class="menu-item__text">Logout</span>
            </div>
        </div>
    </div>
</div>